:root {
    --DarkGray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --VeryDarkGray: hsl(0, 0%, 27%);
}

body,html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3.0rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1.2px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    padding: 2rem;
}


.block{
    max-width: 300px;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
}

.attribution a { color: hsl(228, 45%, 44%); }

.flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.row {
    padding: 1rem;
    position: relative;
}


@media screen and (min-width: 850px) {
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
  }