.topnav {
  position: absolute;
  display: block;
  width: 100%;
  top: 10px;
  left: 5px;
}

.arrow-container {
  position: absolute;
  background-color: var(--VeryDarkGray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  height: 50px;
  top: -65px;
  right: 0;
  z-index: 15;
}

.image-toggle {
  width: 20px;
  height: 30px;
  z-index: 20;
  background-color: var(--VeryDarkGray);
}


.topnav a:not(:first-child) {
  display: none;
  color: var(--White);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  fill: var(--White);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.logo{
  position: absolute;
  width: 65px;
  height: 35px;
  top: 15px;
  left: 45%;
}


/* .topnav.responsive {position: relative;} */
.topnav.responsive .icon{display: none;}
.topnav.responsive .icon-close {
  color: var(--White);
  fill: var(--White);
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  position: relative;
  display: block;
  top: 30px;
  text-align: left;
}

.topnav.responsive a:hover {
  background-color: var(--Black);
  margin: 5px 25px 5px 15px;
}

.s2 {
  display: flex;
  margin: 0 auto;
}

.shopNow {
  font-size: 2.1rem;
  text-align: center;
  margin: 40px 150px 40px 0;
  width: 100%;
}

/* ******************************** */

  @media screen and (min-width: 850px) {

    .topnav {
      display: block;
      width: 100%;
      top: 10px;
      left: 5px;
      margin-left: 25px;
    }

    .logo {
      position: relative;
      float: left;
      left: 0%;
    }
    .s1 {
      flex:2;
    }
  
    .s2 {
      padding: 0.1rem 2rem;
      flex:1;
    }
    
    .s3 {
      padding-top: 1rem;
      flex: 33%;
    }
    
    .s4 {
      flex: 37%;
    }
    
    .s5 {
      padding-top: 1rem;
      flex: 30%;
    }
    
    .slide {
      max-width: 500px;
    }
    
    .topnav a:not(:first-child) {
      color: var(--White);
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      text-align: center;
      float: left;
    }
    
    .topnav .options:hover {
      border-bottom: 2px solid var(--White);
      padding-bottom: 1rem;
    }

    .topnav a.icon {
      display: none;
    }

    .topnav a.icon-close{
      display: none;
    }

    .shopNow {
      padding-bottom: 3rem;
      text-align: left;
      margin: 0.5em 0 2em 0;
    }

    .arrow-container {
      top: calc(100% - 63px);
      left: 0;
      z-index: 15;
    }


  }